@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-noto: "Noto Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-roboto: "Roboto Condensed", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.light {
  --color-bg: #fff;
  --color-bg-alt: #fafafa;
  --color-hero-button: #343434;
  --color-text: #352f36;
  --color-text-alt: theme(--color-neutral-500);
  --color-border: #e1e1e1;
  --color-border-alt: #c1c1c1;
}

.dark {
  --color-bg: #121212;
  --color-bg-alt: #161616;
  --color-hero-button: #212121;
  --color-text: #e2e8f0;
  --color-text-alt: theme(--color-gray-400);
  --color-border: #4e4e4e;
  --color-border-alt: #2e2e2e;
}

html,
body {
  /*@media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }*/

  @apply bg-[var(--color-bg)] text-[var(--color-text)];
  /*@apply [scrollbar-width:none];*/
}

@keyframes scroll-pattern {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 100%;
  }
}
